[Unit]
Description=Heating system logic
After=multi-user.target
Conflicts=getty@tt1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/code/heating/heating-logic.py

[Install]
WantedBy=multi-user.target
